<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PaySheet</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/static/css/index.css" />
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark navi">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="http://localhost:7000/"
          >Calender API</a
        >
        <a class="nav-item nav-link active" href="http://localhost:7000/pay/"
          >PaySheet <span class="sr-only">(current)</span></a
        >
      </div>
    </nav>
    <div class="container">
      <div class="form-container">
        <div class="form">
          <label id="warningAlert" role="alert"></label>
          <div class="input-group mb-3">
            <div class="custom-file">
              <input
                type="file"
                class="custom-file-input"
                name="exl"
                id="excelFile"
                multiple
              />
              <label
                class="custom-file-label"
                id="inputText"
                for="inputGroupFile02"
                >Choose file</label
              >
            </div>
          </div>
          <button id="createSheet" class="button btn btn-info">
            Create PaySheet</button
          ><br /><br />
          <button class="button btn btn-danger" onclick="download_csv()">
            Download CSV
          </button>
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>
