<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Google Calender APi</title>
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <div class="form-container">
        <form action="http://localhost:7000/" method="POST" class="form">
          <a
            class="button btn btn-outline-danger"
            target="blank"
            rel="noopener norefferer"
            href="https://accounts.google.com/signin/oauth/oauthchooseaccount?access_type=offline&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar.readonly&response_type=code&client_id=465802978134-p628dud7ik8ab6pog6bj7c01fkn24lqt.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&o2v=2&as=chw4O93vHhr6Z9iApJ1TBw&flowName=GeneralOAuthFlow"
            >Sign in</a
          ><span>You need to sign in First</span><br /><br />
          <label class="form-text" for="token">Paste the token here</label>
          <input
            type="text"
            class="inp form-control"
            name="token"
            placeholder="must be like this .........."
          />
          <input type="submit" value="My Events" class="button btn btn-info" />
        </form>
        <hr />
        <form action="http://localhost:7000/events" method="POST" class="form">
          <label class="form-text" for="attendee email">Attendee Email</label>
          <input
            type="text"
            class="inp form-control"
            name="to"
            placeholder="send email to .........."
          />
          <label class="form-text" for="event title">Event Title</label>
          <input
            type="text"
            class="inp form-control"
            name="summary"
            placeholder="Event title .........."
          />
          <label class="form-text" for="body">Event Body</label>
          <input
            type="text"
            class="inp form-control"
            name="description"
            placeholder="Message .........."
          />
          <input
            type="submit"
            value="Create Invite"
            class="button btn btn-info"
          />
        </form>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
      integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
