body {
  background: #e2e1e0;
}

.form {
  margin: 30px;
}

.button {
  margin-right: 10px;
}

.inp {
  max-width: 600px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-container {
  margin: 0 auto;
  margin-top: 20px;
  background: white;
  max-width: 700px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 15px 30px;
  border-radius: 5px;
}

.navi {
  padding: 20px;
}
